<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m.earlybird">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AlarmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".AlarmActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AlarmActivity" />
        </activity>

        <meta-data
            android:name="DATABASE"
            android:value="EarlyBird.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="m.earlybird.model" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".AlarmActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="m.earlybird.AlarmActivity" />
        </activity>

        <receiver android:name=".receiver.AlarmReceiver" />
        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.AlarmIntentService" />

        <activity android:name=".CancelAlarmActivity"></activity>
    </application>

</manifest>
